spring-boot/spring-boot-jaxws/src/main/resources/calculation.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="CalculationService"
                  targetNamespace="https://github.com/tracee/tracee/examples/jaxws/service/wsdl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="https://github.com/tracee/tracee/examples/jaxws/service/wsdl"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema elementFormDefault="unqualified"
                   targetNamespace="https://github.com/tracee/tracee/examples/jaxws/service/wsdl" version="1.0"
                   xmlns:tns="https://github.com/tracee/tracee/examples/jaxws/service/wsdl"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">


            <xs:element name="divParameters" type="tns:divParameters"/>
            <xs:element name="mulParameters" type="tns:mulParameters"/>
            <xs:element name="addParameters" type="tns:addParameters"/>
            <xs:element name="subParameters" type="tns:subParameters"/>


            <xs:element name="calculationResponse" type="xs:double"/>


            <xs:complexType name="divParameters">
                <xs:sequence>
                    <xs:element name="param1" type="xs:double"/>
                    <xs:element name="param2" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="mulParameters">
                <xs:sequence>
                    <xs:element name="param1" type="xs:double"/>
                    <xs:element name="param2" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addParameters">
                <xs:sequence>
                    <xs:element name="param1" type="xs:double"/>
                    <xs:element name="param2" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="subParameters">
                <xs:sequence>
                    <xs:element name="param1" type="xs:double"/>
                    <xs:element name="param2" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>


        </xs:schema>
    </wsdl:types>
    <wsdl:message name="division">
        <wsdl:part element="tns:divParameters" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="multiplication">
        <wsdl:part element="tns:mulParameters" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addition">
        <wsdl:part element="tns:addParameters" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="substraction">
        <wsdl:part element="tns:subParameters" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="calculationResponse">
        <wsdl:part element="tns:calculationResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CalculationWS">
        <wsdl:operation name="division">
            <wsdl:input message="tns:division" name="division">
            </wsdl:input>
            <wsdl:output message="tns:calculationResponse" name="calculationResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="multiplication">
            <wsdl:input message="tns:multiplication" name="multiplication">
            </wsdl:input>
            <wsdl:output message="tns:calculationResponse" name="calculationResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addition">
            <wsdl:input message="tns:addition" name="addition">
            </wsdl:input>
            <wsdl:output message="tns:calculationResponse" name="calculationResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="substraction">
            <wsdl:input message="tns:substraction" name="substraction">
            </wsdl:input>
            <wsdl:output message="tns:calculationResponse" name="calculationResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculationServiceSoapBinding" type="tns:CalculationWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="division">
            <soap:operation soapAction="divisonAction" style="document"/>
            <wsdl:input name="division">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="multiplication">
            <soap:operation soapAction="multiplicationAction" style="document"/>
            <wsdl:input name="multiplication">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addition">
            <soap:operation soapAction="additionAction" style="document"/>
            <wsdl:input name="addition">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="substraction">
            <soap:operation soapAction="substractionAction" style="document"/>
            <wsdl:input name="substraction">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalculationService">
        <wsdl:port binding="tns:CalculationServiceSoapBinding" name="CalculationServicePort">
            <soap:address location="http://localhost:8080/tracee-examples-jaxws-service/CalculationService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>